.gallery img{
    width: 100%;
}
h2{
    text-align: center;
    color: coral;
}
h4{
    text-align: center;
    text-decoration: overline;
    color:fuchsia;
}
p{
    font-family:monospace;
}
#menu{
    width:100;
    height:50px;
    background-color: aquamarine;
}